.Faq-section {
    margin: 70px auto;
    width: 70%;
}
.Faq-section ul li {
    display: flex;
    justify-content: space-between;
}
.Faq-section ul li {
    display: flex;
    margin: 26px 0;
    padding: 24px 14px;
    box-shadow: 0px 1px 6px 2px #a7a4a4;
    border-radius: 2px;
    cursor: pointer;
    flex-direction: column;
    transition: 1s ease;
    user-select: none;
    background: #fff;
}
.Faq-r1 {
    display: flex;
    justify-content: space-between;
}
.Faq-r1 p, .sub-con p {
    font-size: 16px;
    font-weight: 600;
    color: #01473b;
}
.Faq-section ul li:hover {
    transform: scale(1.07);
}
.Faq-section h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 51px;
    color: #0d4553;
}
.sub-con li {
    background: linear-gradient(45deg, #e3e3e3b8, #0a070700);
    padding: 0;
    margin: 0;
}
.Faq-r1 p {
    flex: 1; 
    margin: 0;
    word-break: break-word; 
    white-space: normal; 
  }
  
  .sub-con p {
    margin: 0;
    word-break: break-word;
    white-space: normal;
  }
@media(max-width:768px){
    .Faq-section {
        width: 90%;
    }
}
li.faq-content {
    background: #0f4359 !important;
}
li.faq-content p{
    color: #fff;
}