.Promo-section {
    height: auto;
    margin-top: 58px;
}
.promo-1 {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.promo-1 img {
    height: 552px;
    max-width: 400px;
    border-radius: 17px;
}

.text-con {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
    color: #003045;
    font-weight: 600;
    font-family: foco, Roboto, Arial, sans-serif;
}

.text-con h2 {
    font-size: 27px;
    color: #003045;
    font-weight: 900;
    text-decoration: underline;
    padding-bottom: 20px;
}

.Mission-card {
    box-shadow: 2px 3px 7px 5px rgb(141 136 136);
    width: 300px;
    height: 301px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.promo-2 h3 {
    text-align: center;
    font-size: 27px;
    margin: 0 0 49px 0;
    color: #003045;
}
.Mission-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.Mission-card h2 {
    font-size: 18px;
    background: linear-gradient(45deg, #2576af, #23a18a);
    color: #fff;
    padding: 12px;
    margin: 0;
}

.Mission-card img {
    width: 100%;
    height: 76%;
    object-fit: cover;
}

.Mission-card p {
    display: none;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #2576af, #23a18a);
    color: #fff;
    padding: 12px;
    animation: slidein 1.5s ease forwards;
    font-size: 19px;
}

.Mission-card:hover h2,
.Mission-card:hover img {
    display: none;
}
.Mission-card:hover{
    background: linear-gradient(45deg, #2576af, #23a18a);
    padding: 20px;
}
.Mission-card:hover p {
    display: block;
}
.text-con span {
    font-size: 26px;
    color: #510959;
    font-weight: 800;
}
@keyframes slidein {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.Mission-wrapper img {
    width: 100%;
    height: 76%;
}

.promo-2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
@media(max-width:968px){
    .promo-1 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
    }
    .Promo-section {
        height: auto;
        margin-top: 12px;
    }
}
@media(max-width:768px){
    .text-con span{
        font-size:17px;
      }
      .text-con p{
        font-size:13px;
      }
      .Mission-card h2 {
        font-size: 13px;
    }
    .Mission-wrapper img {
        height: 80%;
    }
    .Mission-card p {
        font-size: 14px;
        width: 80%;
        text-align: center;
    }
    .promo-1 img {
        height: 322px;
        width: 86%;
    }
    
}
@media (min-width: 1000px) {
    .slider-warapper {
        width: 100%;
        margin-top: 163px;
    }
}
.sub-points span{
    font-size: 16px;
    color: #003045;
    font-weight: 800;
}
.sub-points li{
    font-size: 13px;
    color: #3a6c81;
    font-weight: 600;
}
.sub-points{
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
