.parallax-banner {
    height: 100vh;
    width: 100%;
    background-image: url('../../../public/celebration.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .shadow{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #020202;
    opacity: 70%;
  }
  .shadow h2{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    width: 80%;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  @media(max-width:768px){
    .shadow h2{
      font-size: 18px;
    }
  }
  @media(max-width:500px){
    .parallax-banner,.shadow {
      height: 50vh; 
  }
  }