.Footer-wrapper {
    width: 100%;
    background:linear-gradient(115deg, #0b474b, #0d3f3f);
    padding: 6px 0;
    position: relative;
}
.Footer-wrapper::after {
    content: '';
    position: absolute;
    top: -30px;
    background-color: #fff;
    width: 80%;
    height: 70px;
    margin: 0 auto;
    left: 10%;
    border-radius: 40px;
}
.Footer {
    width: 70%;
    margin: 0 auto;
}
.Footer-row-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
ul.footer-item {
    list-style: none;
}
ul.footer-item h2 {
    font-size: 22px;
    font-weight: 900;
    color: #fff;
}
ul.footer-item li {
    margin-top: 10px;
    color: #fff;
}
.social-media {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background: #e1f5f5;
    margin: 17px 0;
    font-size: 22px;
    cursor: pointer;
    border-radius: 12px;
    color: #0b474b;
}

.Footer-row-2 p {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    margin: 29px 0 10px;
}
.socail-me{
        margin-top: 10px;
        color: #041d1f;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
}
.socail-me a i{
    color: #ffffff;
    font-size: 23px;
    margin: 10px 0 0;
    cursor: pointer;
    transition: 1s ease;
}
.socail-me i:hover {
    transform: scale(1.2);
}
.footer-item hr{
    width:70%;
    background:red;
    height:2px;
     border:none;
     margin-top:4px;
}

@media(max-width:768px){
    .Footer-row-1 {
        flex-direction: column;
        text-align: center;
    }
    ul.footer-item h2 {
        margin-top: 23px;
    }
    .socail-me {
        justify-content: space-around;
    }
    .footer-item hr{
        width: 100%;
        margin-top: 25px;
        background: #dfdfdf;
    }
    .social-me{
        margin-top: 36px !important;
    }
}