
.founder-row1 img {
    transform: rotateY(0deg);
    transition: transform 1s ease;
    transform-style: preserve-3d;
    width: 156px;
    height: 151px;
    border-radius: 103px;
    margin: 0 auto;
    will-change: transform;
  }
  .founder-row1 img.visible {
    transform: rotateY(180deg);
  }
.founder-row1 img:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
  }
.founder-row1 {
    width: 100%;
    display: flex;
    margin: 20px 0;
}
.founder-row3 p {
    width: 78%;
    margin: 26px auto 50px;
    text-align: center;
    line-height: 1.5;
}
.team {
    width: 80%;
    margin: 0 auto;
}
.leaderships .cards img {
    width: 150px;
    height: 150px;
    border-radius: 82px;
}
.leaderships {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    flex-wrap: wrap;
    gap: 30px;
}
.leaderships .cards {
    max-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 3px 12px 5px gray;
}
@media(min-width:768px){
  .About-gengross {
    margin-top: 10%;
}  
}

