.About-gengross {
  padding: 40px 20px;
  background-color: #f7f9fc;
}

.About-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 30px;
  color: #b37801;
  margin-bottom: 10px;
}

.section-divider {
  width: 80%;
  margin: 20px auto 30px;
  border: none;
  border-top: 2px solid #ccc;
}
.founder-row1.aos-init.aos-animate {
  width: 44%;
}
.founders {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 80%;
  margin: 0 auto;
}

.founder-row1 img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  object-fit: cover;
}

.founder-row3 {
  flex: 1;
}

.founder-row3 p {
  font-size: 18px;
  line-height: 1.7;
  color: #0b474b;
}

.founder-name {
  font-size: 24px;
  color: #3a6c81;
  font-weight: 800;
}

.leaderships {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.cards {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.cards:hover {
  transform: translateY(-5px);
}

.cards img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.cards h2 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: #3a6c81;
}

.cards p {
  font-size: 14px;
  color: #333;
}
.cards.aos-animate.aos-init {
  width: 100%;
}
.leaderships {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 92px;
  margin-top: 20px;
  padding-right: 37px;

}


@media (max-width: 768px) {
  .founders {
    flex-direction: column;
    text-align: center;
  }

  .founder-row3 p {
    font-size: 16px;
  }

  .section-title {
    font-size: 24px;
  }
}
